/*
CSS RESET
*/
body {
    background-color: #333333;
    padding: 0;
    margin: 0;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.main-container {
    background-color: #2980b9;
    border-radius: 5px;
    width: 60vw;
}

.main-container .top .pp {
    width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    border-radius: 20%;

}

.img-container::after {
    content: '🚀';
    position: absolute;
    bottom: 5px;
    right: 50%;
    border: #fff 2px solid;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 50%;
    padding: 5px;
}

.main-container .top {
    position: relative;
    padding: 10px;
    display: flex;

}

.main-container .bottom {
    background-color: #1abc9c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.infos {
    background-color: red;
    width: 40%;
}